body{
 display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color:black;
    width: 350px;
    padding: 18px ;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container button{
    padding: 10px;
    width: 50px;
    border: 0;
    outline: 0;
    background-color: rgba(215, 210, 210, 0.113);
    color: white;
    margin: 12px;
    font-size: 18px;
    border-radius: 250px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#display{
    display: flex;
    align-items: center;
    height: 25px;
  justify-items: flex-end;
    justify-content: flex-end;
    width: 280px;
    font-size: 18px;
}

.mainop{
    color: goldenrod !important;
}